{% extends "layout.html" %}

{% block title %} 
    about me.
{% endblock %}

{% block main %} 
<div class="container mt-5">
    <div class="row">
      <div class="col">
        <h3 class="mb-3">Work experience</h3>
        <div class="card mb-3">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
              <div class="mx-3">
                  <h4>Amkor Technologies, Inc.</h4>
                  <div><strong>mar-jul 2022</strong></div>
                  Logistics trainee
              </div>
              <ul class="list-group listgroup-flush mt-2">
                  <li class="list-group-item">Produced weekly status reports detailing logistic operations and problems</li>
                  <li class="list-group-item">Creation of several computer tools that not only improved the packing procedure efficiency, but also predict the future storage needs according to production forecasts</li>
                  <li class="list-group-item">Ergonomic improvement of the working stations</li>
                  <li class="list-group-item">Layout improvement of the shipping area</li>
                  <li class="list-group-item">Managed loading and unloading, movement and sorting of supplies to keep deliveries on schedule</li>
              </ul>
          </div>
        </div>
        <div class="card mb-3">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
              <div class="mx-3">
                  <h4>Ewine, lda.</h4>
                  <div><strong>2017-2020</strong></div>
                  Warehouse assistant, and later IT analyst
              </div>
              <ul class="list-group listgroup-flush mt-2">
                  <li class="list-group-item">Planned computer systems using information engineering and structured analysis</li>
                  <li class="list-group-item">Informational system reestructure</li>
                  <li class="list-group-item">Online store creation and implementation</li>
                  <li class="list-group-item">Generated, distributed and filed copies of all billing paperwork</li>
                  <li class="list-group-item">Integrated logistics systems into company processes to improve operations and manage work orders and price changes</li>
                  <li class="list-group-item">Inventory management and obsolete stock clearence</li>
                  <li class="list-group-item">Coordinated driver dispatch to accomplish daily delivery requirements</li>
              </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <h3 class="mb-3">Education</h3>

        <div class="card mb-3">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <div class="mx-3">
              <h4 class="card-title">Faculdade de Engenharia da Universidade do Porto</h4>

              <!-- Bachelor in metalurgic engineering -->
              <div class="card mb-3">
                <div class="card-body">
                  <div class="mx-3">
                    <h5 class="card-title">Bachelor's in Materials and Metarlurgic Engineering</h5>
                    <div><strong>2016-2017</strong></div>
                    <!-- Add text explaining the course here, and do not forget the link to the page -->
                    <p class="card-text">Explaining the course</p>
                    <ul class="list-group listgroup-flush mt-2">
                      <li class="list-group-item">Main Project: "Nanocomposite material experiments for several applications"</li>
                      <li class="list-group-item">Tools used: MS Office, VBA.</li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Bachelor in mechanical -->
              <div class="card mb-3">
                <div class="card-body">
                  <div class="mx-3">
                    <h5 class="card-title">Bachelor's in Mechanical Engineering</h5>
                    <div><strong>2017-2021</strong></div>
                    <!-- Add text explaining the course here, and do not forget the link to the page -->
                    <p class="card-text">Explaining the course</p>
                    <ul class="list-group listgroup-flush mt-2">
                      <li class="list-group-item">Main projects: Automatic Guided Vehicle design and operations project, Hotel Informational System creation and implementation, Electroerosion simulation and test.</li>
                      <li class="list-group-item">Tools used: MS Excel, MS Access, VBA, Matlab, SQL, SolidWorks, AutoCAD, ABAQUS, EES.</li>
                    </ul>
                  </div>
                </div>
              </div>

              <!-- Masters in mechanical -->
              <div class="card mb-3">
                <div class="card-body">
                  <div class="mx-3">
                    <h5 class="card-title">Master's in Mechanical Engineering</h5>
                    <div><strong>2021-2023</strong></div>
                    <!-- Add text explaining the course here, and do not forget the link to the page -->
                    <p class="card-text">Explaining the course</p>
                    <ul class="list-group listgroup-flush mt-2">
                      <li class="list-group-item">Main projects: Warehouse layout projection, Investment project analysis, Factory Industry
                        4.0 implementation.</li>
                      <li class="list-group-item">Tools used: FlexSim, NodeRed, PowerBI, Minitab, AutoCAD.</li>
                    </ul>
                  </div>
                </div>
              </div>


            </div>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>




        </div>
      </div>
    </div>
  </div>
{% endblock %}