{% extends "layout.html" %}

{% block title %}
    homepage
{% endblock %}

{% block main %}
<div class="container my-5">
    <h5>Welcome to my webpage, where I am still trying to show my work in the most dynamic way possible. Feel free to wonder around.</h5>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col">
        <p class="justified">
          Write a text explaining that I am a Mechanical Engineer studend from Porto, Portugal that excells at having a wide variaty of skillsets,
          with curious mentality, ready to achieve success by implementing known methodologies but also always available to gather new skills and
          further invest in those I already own. This text should be large so a picture could fit at the right. Maybe of myself, I haven't thought
          that through enough. And gjjrifkkdjdvnjdkdkofjiriqenrvojcneqc r3iofjq3orfnefq f3oirjfo3irf ior3fj3oirnfwkme ofoqirfoqenrfoieqrn qroif3o
          rinfqiurhfoqwijrcoiejnroivje oprjfqoeirjfoqwjrcoiqejrv
          qrvjkneqnekrvjnkqernv oiqenre reoijrf irn ferj f rfi3r fjhe rhfieqrf eirf ir fherf kqwr kf kwrhkfk wqrkhf wqkr fwkrf wr fkwr fkrw fkwj4oWOF.
        </p>
        <p>Maybe look online.</p>
        <p class="justified">
          I am an enthusiastic, inspired and soon-to-be-master-graduate in Production Management who strives to explore and develop skills through challenging and exciting work and to engage in the most broad-minded way with co-workers.
          I am always prepared to face any challenge I face and put all my time and effort into making the best of it, always trying to form myself into a better person, athlete and professional.
          Currently looking for opportunities to get out of my comfort zone and tackle real world problems with a grown competitive mindset.
        </p>
      </div>
    </div>
  </div>
{% endblock %}